@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  border: 0px solid transparent;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Nunito";
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    to bottom,
    hsl(200deg, 80%, 52%),
    hsl(200deg, 80%, 78%),
    hsl(200deg, 80%, 90%) 100%
  );
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
